<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">Home</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/organizacion/crear" routerLinkActive="active">CrearOrg</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li *ngIf="!authService.isAuthenticated" class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                </li>
                <li *ngIf="authService.isAuthenticated" class="nav-item">
                    <a class="nav-link" routerLink="/logout" routerLinkActive="active">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
