<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Mi Usuario</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/Resources/Letras.css}">
    <link rel="stylesheet" th:href="@{/Resources/normalize.css}">
    <link rel="stylesheet" th:href="@{/Footer/Footer.css}">
    <link rel="stylesheet" th:href="@{/Menu/Menu.css}">
    <link rel="stylesheet" th:href="@{/Mi_Usuario/Mi_Usuario.css}">
    <link rel="icon" th:href="@{/Resources/img/logo.png}" type="image/icon type">
</head>

<body>

    <section th:replace="fragments/menu"></section>

    <div id="app">
        <header>
            <div class="contenedor-base">
                <div class="contenedor-texto-header">
                    <div class="texto">
                        <h1 class="titulo-principal">¡Hola, <td th:text="${usuario.usuario}"/>!</h1>
                    </div>
                </div>
            </div>
        </header>

        <section class="acerca-de">
            <div class="contenedor-base">

                <div class="logo">
                    <img th:src="@{/Registrar_Mascota/img/usuario.png}" width="115" alt="Logo Usuario">
                </div>

                <div class="texto">
                    <h3 class="sub-titulo">Acerca De</h3>
                    <p class="texto-simple">Tratamos su información y datos personales como confidenciales y mantenemos medidas preventivas dirigidas a protegerlos contra pérdida o alteración. Sus datos no serán divulgados para otro propósito que no sea el acordado.</p>
                </div>
            </div>
        </section>


        <section class="main contenedor-base">
            <section class="datos-personales">
                <h3 class="sub-titulo" v-if="">Mis Datos Personales</h3>
                <p class="texto-simple">Nombre: <td th:text="${usuario.duenioAsociado.nombre}"/></p>
                <p class="texto-simple">Apellido: <td th:text="${usuario.duenioAsociado.apellido}"/></p>
                <p class="texto-simple">Teléfono: <td th:text="${usuario.duenioAsociado.telefono}"/></p>
                <p class="texto-simple">Email: <td th:text="${usuario.duenioAsociado.email}"/></p>
                <p class="texto-simple">Número de documento: <td th:text="${usuario.duenioAsociado.nroDocumento}"/></p>
                <p class="texto-simple">Tipo de documento: <td th:text="${usuario.duenioAsociado.tipoDocumento}"/></p>
                <p class="texto-simple">Domicilio: <td th:text="${usuario.duenioAsociado.domicilio}"/></p>
                <p class="texto-simple">Medios de notificacion: <td th:text="${usuario.duenioAsociado.formasNotificacion}"/></p>
                <p class="texto-simple">Fecha de nacimiento: <td th:text="${usuario.duenioAsociado.fechaDeNacimiento}"/></p>
            </section>

            <section class="datos-mascotas">
                <h3 class="sub-titulo">Mis Mascotas</h3>
                <div class="contenedor-grande">
                    <div class="contenedor-mascotas">

                        <th:block th:each="mascota: ${usuario.duenioAsociado.mascotas}">
                            <div>
                                <div class="contenedor-mascota">
                                    <p class="texto-simple">Nombre: <td th:text="${mascota.nombre}"/></p>
                                    <p class="texto-simple">Apodo: <td th:text="${mascota.apodo}"/></p>
                                    <p class="texto-simple">Edad: <td th:text="${mascota.edad}"/></p>
                                    <p class="texto-simple">Tipo: <td th:text="${mascota.tipo}"/></p>
                                    <p class="texto-simple">Sexo: <td th:text="${mascota.sexo}"/></p>
                                    <div class="imagen">
                                        <img th:src="${mascota.id_QR}" alt="QR">
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </section>
        </section>

        <section class="cerrar-sesion">
            <button onclick="cerrarSesion" class="botonRojo boton">Cerrar Sesión</button>
        </section>
    </div>

    <section th:replace="fragments/footer"></section>

</body>
</html>