<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Pagina Principal</title>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../static/Resources/Letras.css">
	<link rel="stylesheet" href="../static/Pagina_Principal/index.css">
	<link rel="stylesheet" href="../static/Resources/normalize.css">
	<link rel="stylesheet" href="../static/Footer/Footer.css">
	<link rel="stylesheet" href="../static/Menu/Menu.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<link rel="icon" href="../static/Resources/img/logo.png" type="image/icon type">
</head>

<body>

	<header>
		<main-menu-usuario></main-menu-usuario>
		<div class="contenedor-base">
			<div class="contenedor-texto-header">
				<div class="texto">
					<h1 class="titulo-principal">Rescate De Patitas</h1>
					<h2 class="descripcion-sistema">Asociaciones sin fines de lucro que se encargan de recuperar mascotas y encontrar familias responsables para su adopción</h2>
				</div>
			</div>
		</div>
	</header>

	<section class="main">

		<section class="acerca-de">
			<div class="contenedor-base">

				<div class="logo">
					<img src="../static/Pagina_Principal/img/logo.png" width="115" alt="Logo Rescate De Patitas">
				</div>
			
				<div class="texto">
					<h3 class="sub-titulo">Acerca De</h3>
					<p class="texto-simple">Asociaciones dedicadas a la atención y el cuidado de mascotas desde la ayuda para encontrar mascotas perdidas, la difusión de mascotas en adopción, hasta la búsqueda y el encuentro de hogares de tránsito.</p>
				</div>

			</div>		
		</section>
		

		<section class="opciones">
			<div class="contenedor-base">
				<h3 class="sub-titulo">¿Qué te gustaría hacer?</h3>

				<div class="contenedor-opciones">
					
					<div class="opcion">
						<div class="foto-opcion">
							<a href="Registrar_Mascota.html">
								<img src="../static/Pagina_Principal/img/registrar.jpg" alt="Registrar Mascota">
							</a>
						</div>
						<div class="texto-opcion">
							<p class="texto-simple">Registrar Mascota</p>
						</div>
					</div>

					<div class="opcion">
						<div class="foto-opcion">
							<a href="Adoptar_Mascota.html">
								<img src="../static/Pagina_Principal/img/adoptar2.jpg" alt="Adoptar">
							</a>
						</div>
						<div class="texto-opcion">
							<p class="texto-simple">Adoptar</p>
						</div>
					</div>

					<div class="opcion">
						<div class="foto-opcion">
							<a href="Dar_En_Adopcion.html">
								<img src="../static/Pagina_Principal/img/dar.jpg" alt="Dar en Adopcion">
							</a>
						</div>
						<div class="texto-opcion">
							<p class="texto-simple">Dar en Adopción</p>
						</div>
					</div>

					<div class="opcion">
						<div class="foto-opcion">
							<a href="Buscar_Hogar.html">
								<img src="../static/Pagina_Principal/img/hogar.jpg" alt="Buscar Hogar de Tránsito">
							</a>
						</div>
						<div class="texto-opcion">
							<p class="texto-simple">Buscar Hogar de Tránsito</p>
						</div>
					</div>

					<div class="opcion">
						<div class="foto-opcion">
							<a href="Encontre_Mascota_Perdida.html">
								<img src="../static/Pagina_Principal/img/encontre.jpg" alt="Encontre una Mascota Perdida">
							</a>
						</div>
						<div class="texto-opcion">
							<p class="texto-simple">Encontré una Mascota Perdida</p>
						</div>
					</div>

					<div class="opcion">
						<div class="foto-opcion">
							<a href="Mascotas_Perdidas.html">
								<img src="../static/Pagina_Principal/img/perroPerdido.jpg" alt="Buscar a Mi Mascota Perdida">
							</a>
						</div>
						<div class="texto-opcion">
							<p class="texto-simple">Buscar a Mi Mascota Perdida</p>
						</div>
					</div>

				</div>

			</div>
		</section>

	</section>

	<main-footer></main-footer>

	<script src="../static/Footer/Footer.js"></script>
	<script src="../static/Menu/Menu.js"></script>
	<script src="../static/Resources/ValidarUsuario.js"></script>

</body>
</html>