<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/Resources/normalize.css" th:href="@{/Resources/normalize.css}">
    <link rel="stylesheet" href="../../static/Resources/Footer.css" th:href="@{/Resources/Footer.css}">

</head>
<body>
<section class="footer" th:fragment="footer">
    <div class="contenedor-base">

        <div class="contenedor-base">
            <div class="imagenes-footer">

                <a href="https://mail.google.com/">
                    <div class="img-footer gmail">
                        <img th:src="@{/Footer/img/gmail.png}" width="45" alt="Gmail RelacionamientoDePersonas@gmail.com">
                    </div>
                </a>
            </div>
        </div>
</section>
</body>
</html>