<app-index-template entity="miembro">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Persona</th>
                <th>Usuario</th>
                <th>Fecha ingreso</th>
                <th>Sector</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let miembro of results$ | async">
                <td>{{ miembro.persona!.text }}</td>
                <td>{{ miembro.usuario?.text }}</td>
                <td>{{ miembro.fechaIngreso }}</td>
                <td>{{ miembro.sector?.text }}</td>
            </tr>
        </tbody>
    </table>
</app-index-template>
