<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión - MiImpactoAmbiental</title>
</head>
<body>
    <section class="iniciar_sesion">
        <form action="" class="form__iniciar_sesion">
            <h2 class="form__titulo">Iniciar sesión</h2>
            <div class="form__subcontainer">
                <h3 class="form__subtitulo">E-mail</h3>
                <input type="text" class="form__input" placeholder="hola@ejemplo.com">
            </div>
            <div class="form__subcontainer">
                <h3 class="form__subtitulo">Contraseña</h3>
                <input type="text" class="form__input" placeholder="pepito1234">
            </div>
            <input type="submit" value="Iniciar sesión" class="form__boton_envio">
            <div class="form__subcontainer2">
                <h4 class="subcontainer2__titulo">¿No tiene una cuenta?</h4>
                <button class="form__boton_registrarse">Registrarse</button>
            </div>
        </form>
    </section>
</body>
</html>