<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse - MiImpactoAmbiental</title>
</head>
<body>
    <section class="registrarse">
        <form method="POST" action="" class="form__registro">
            <h2 class="form__titulo">Registrarse</h2>
            <div class="form__subcontainer">
                <h3 class="form__subtitulo">Nombre de usuario*</h3>
                <input type="text" class="form__input" placeholder="Usuario123" required>
            </div>
            <div class="form__subcontainer">
                <h3 class="form__subtitulo">E-mail*</h3>
                <input type="text" class="form__input" placeholder="hola@ejemplo.com" required>
            </div>
            <div class="form__subcontainer">
                <h3 class="form__subtitulo">Ingrese el e-mail nuevamente*</h3>
                <input type="text" class="form__input" placeholder="hola@ejemplo.com" required>
            </div>
            <div class="form__subcontainer">
                <h3 class="form__subtitulo">Contraseña*</h3>
                <input type="text" class="form__input" placeholder="pepito1234" required>
            </div>
            <div class="form__subcontainer">
                <h3 class="form__subtitulo">Ingrese la contraseña nuevamente*</h3>
                <input type="text" class="form__input" placeholder="pepito1234" required>
            </div>
            <div class="form__subcontainer">
                <h3 class="form__subtitulo">¿Desea crear una cuenta administrador?*</h3>
                <select name="Seleccione una opción" id="" class="form__input">
                    <option value="0">Seleccione una opción</option>
                    <option value="1">Sí</option>
                    <option value="2">No</option>
                </select>
            </div>
            <input type="submit" value="Registrarse" class="form__boton_envio">

            <h4 class="form__titulo_aclaracion">Los campos marcados con * son obligatorios</h4>
        </form>
    </section>
</body>
</html>